@mixin form {
  margin: 5px;
  .bi {
    margin: 0 10px;
    font-size: 25px;
  }
  label {
    display: block;
  }
  span {
    display: flex;
    align-items: center;
    input {
      width: 200px;
      padding: 5px;
      border-radius: 20px;
    }
  }
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(236, 236, 236, 0.705);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    .footer__text {
      h2 {
        font-size: 50px;
        margin: 0;
      }
      h3 {
        font-size: 30px;
        margin: 0
      }
    }

    .card__contact {
      form {
        .form__name {
          @include form;
        }
        .form__email {
          @include form;
        }
        .form__news {
          display: flex;
          align-items: center;
          margin: 5px;
          input {
            width: 20px;
            height: 20px;
          }
        }
        .form__gender {
          margin: 15px 5px;
          p {
            margin: 5px 0px;
          }
          span {
            display: flex;
            flex-direction: row;
            align-items: center;
            input {
              margin-right: 50px;
              width: 20px;
              height: 20px;
            }
          }
        
        
      }
    }
  }

  .form__button {
    margin: 5px;
    button {
      background-color: rgb(214, 214, 215);
      font-size: 20px;
      margin: 10px 0;
      padding: 10px;
      width: 150px;
      border-radius: 30px;
      border: 0;
      &:hover {
        background-color:  rgb(205, 205, 205);
      }
    }
  }
    .card__apps {
      display: flex;
      align-items: center;
      .apps-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;
        .bi {
          font-size: 25px;
        }
        p {
          margin: 5px 0;
        }
      }
    }
  }

  @media all and (max-width: 700px) {

    footer {
      flex-direction: column;
      .form__news {
        label {
          font-size: 14px;
        }
      }

      .card__apps {
        flex-wrap: wrap;
        .apps-item {
          margin: 25px;
        }
      }
    }

  }