nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-text a {
  text-decoration: none;
  color: rgb(11, 0, 45);
  font-size: 50px;
  margin: 0;
}
nav .nav-text p {
  font-size: 35px;
  margin: 0;
}
nav .nav-sections {
  display: flex;
}
nav .nav-sections .nav-items {
  margin: 0px 20px;
}
nav .nav-sections .nav-items img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
nav .nav-sections .nav-items p {
  text-align: center;
  color: black;
  margin: 0;
}
nav .nav-icons {
  display: flex;
}
nav .nav-icons span {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-icons span .bi {
  font-size: 30px;
}
nav .nav-icons span a {
  text-decoration: none;
  color: black;
  margin: 0;
}
nav .nav-icons span p {
  margin: 0;
}

footer {
  background-color: rgba(236, 236, 236, 0.705);
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 92%;
}
footer .card__footer {
  display: flex;
  justify-content: space-between;
}
footer .card__footer .footer__text h2 {
  font-size: 35px;
  margin: 0;
}
footer .card__footer .footer__text h3 {
  font-size: 25px;
  margin: 0;
}
footer .card__contact form .form__name {
  margin: 5px;
}
footer .card__contact form .form__name .bi {
  margin: 0 10px;
  font-size: 25px;
}
footer .card__contact form .form__name label {
  display: block;
}
footer .card__contact form .form__name span {
  display: flex;
  align-items: center;
}
footer .card__contact form .form__name span input {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}
footer .card__contact form .form__email {
  margin: 5px;
}
footer .card__contact form .form__email .bi {
  margin: 0 10px;
  font-size: 25px;
}
footer .card__contact form .form__email label {
  display: block;
}
footer .card__contact form .form__email span {
  display: flex;
  align-items: center;
}
footer .card__contact form .form__email span input {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}
footer .card__contact form .form__news {
  display: flex;
  align-items: center;
  margin: 5px;
}
footer .card__contact form .form__news input {
  width: 20px;
  height: 20px;
}
footer .card__contact form .form__gender {
  margin: 15px 5px;
}
footer .card__contact form .form__gender p {
  margin: 5px 0px;
}
footer .card__contact form .form__gender span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .card__contact form .form__gender span input {
  margin-right: 50px;
  width: 20px;
  height: 20px;
}
footer .form__button {
  margin: 5px;
}
footer .form__button button {
  background-color: rgb(214, 214, 215);
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
  border: 0;
}
footer .form__button button:hover {
  background-color: rgb(205, 205, 205);
}
footer .card__apps {
  display: flex;
  align-items: center;
}
footer .card__apps .apps-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
footer .card__apps .apps-item .bi {
  font-size: 25px;
}
footer .card__apps .apps-item p {
  margin: 5px 0;
}

@media all and (max-width: 700px) {
  footer {
    display: none;
  }
}
body {
  margin: 3%;
  font-family: sans-serif;
}

#tabs__section {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tabs__section .tabs__list {
  width: 50%;
  padding: 20px;
  margin: 20px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#tabs__section .tabs__list .tabs__img img {
  width: 260px;
  height: 350px;
}
#tabs__section .tabs__list .tabs__text {
  margin: 100px;
}
#tabs__section .tabs__list .tabs__text button {
  background-color: rgb(231, 231, 232);
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 30px;
}

@media all and (max-width: 700px) {
  body {
    margin: 10px;
  }
  nav {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  nav .nav-text {
    margin: 30px 20px;
  }
  nav .nav-text a {
    font-size: 30px;
  }
  nav .nav-text p {
    font-size: 20px;
  }
  nav .nav-sections .nav-items img {
    width: 70px;
    height: 70px;
  }
  nav .nav-sections .nav-items p {
    font-size: 13px;
  }
  nav .nav-icons {
    display: none;
  }
  #tabs__section {
    flex-direction: column;
  }
  #tabs__section .tabs__list {
    width: 100%;
  }
  #tabs__section .tabs__list .tabs__img img {
    width: 200px;
    height: 255px;
  }
  #tabs__section .tabs__list .tabs__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
  }
}/*# sourceMappingURL=collection.css.map */