body {
  margin: 3%;
}

#display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-gallery {
  display: flex;
}

#display-container {
  display: flex;
  border: 1px solid black;
  width: 500px;
  height: 665px;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100%;
}
.gallery {
  display: flex;
}

.gallery-items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.preview {
  width: 330px;
  height: 400px;
  margin: 10px;
}
