body {
  margin: 50px;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-text h1 {
  color: rgb(11, 0, 45);
  font-size: 50px;
  margin: 0;
  font-weight: normal;
}
nav .nav-sections {
  display: flex;
}
nav .nav-sections .nav-items {
  margin: 0px 20px;
}
nav .nav-sections .nav-items img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
nav .nav-sections .nav-items p {
  text-align: center;
  color: black;
  margin: 0;
}

.intro-banner {
  width: 100%;
  margin: 50px 0px;
}

#collection-accesories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#collection-accesories .summer-img img {
  width: 650px;
  height: 610px;
}
#collection-accesories .collection-sections {
  display: flex;
  flex-direction: column;
}
#collection-accesories .collection-sections .collection-text p {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
#collection-accesories .collection-sections .collection {
  display: flex;
}
#collection-accesories .collection-sections .collection .collection-item {
  margin: 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#collection-accesories .collection-sections .collection .collection-item img {
  width: 250px;
  height: 300px;
}
#collection-accesories .collection-sections .collection .collection-item p {
  text-align: center;
}
#collection-accesories .collection-sections .collection .collection-item a {
  text-decoration: none;
  text-align: center;
  background-color: rgb(145, 143, 143);
  padding: 10px;
  border-radius: 50px;
  color: white;
  width: 100px;
}

#collection-swimwear {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#collection-swimwear img {
  width: 550px;
  height: 750px;
}
#collection-swimwear .swimwear .swimwear-subtitle p {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
#collection-swimwear .swimwear .swimwear-item {
  display: flex;
}
#collection-swimwear .swimwear .swimwear-item .item {
  margin: 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
#collection-swimwear .swimwear .swimwear-item .item img {
  width: 250px;
  height: 300px;
}
#collection-swimwear .swimwear .swimwear-item .item p {
  text-align: center;
}
#collection-swimwear .swimwear .swimwear-item .item a {
  text-decoration: none;
  text-align: center;
  background-color: rgb(145, 143, 143);
  padding: 10px;
  border-radius: 50px;
  color: white;
  width: 100px;
}
#collection-swimwear .swimwear .swimwear-item .item a:hover {
  background-color: rgb(168, 166, 166);
}

@media all and (max-width: 700px) {
  body {
    margin: 10px;
  }
  nav {
    flex-direction: column;
  }
  nav .nav-text {
    margin: 30px 0px;
  }
  nav .nav-text h1 {
    font-size: 3 0px;
  }
  nav .nav-sections .nav-items img {
    width: 70px;
    height: 70px;
  }
  nav .nav-sections .nav-items p {
    font-size: 13px;
  }
  .intro img {
    display: none;
  }
  #collection-accesories {
    flex-direction: column;
    margin: 0;
  }
  #collection-accesories .summer-img img {
    width: 300px;
    height: 300px;
    margin: 50px 0;
  }
  #collection-accesories .collection-sections .collection-text p {
    font-size: 13px;
  }
  #collection-accesories .collection-sections .collection {
    flex-direction: column;
  }
  #collection-swimwear {
    flex-direction: column;
  }
  #collection-swimwear img {
    width: 300px;
    height: 350px;
  }
  #collection-swimwear .swimwear .swimwear-item {
    flex-direction: column;
    margin: 50px 0;
  }
}/*# sourceMappingURL=main.css.map */