//mixin

@mixin nav_img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

@mixin index_font {
  font-size: 20px;
  text-transform: uppercase;
}

@mixin collection_img {
  width: 250px;
  height: 300px;
}

@mixin buttom {
  text-decoration: none;
  text-align: center;
  background-color: rgb(8, 0, 87);
  padding: 10px;
  border-radius: 50px;
  color: white;
  width: 100px;
}

@mixin card {
  margin: 30px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
  
}

body {
  margin: 50px;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-text {
    h1 {
      color: rgb(11, 0, 45);
      font-size: 50px;
      margin: 0;
      font-weight: normal;
    }
  }
  .nav-sections{
    display: flex;
    .nav-items {
      margin: 0px 20px;
      img {
        @include nav_img;
      }
      p {
        text-align: center;
        color: black;
        margin: 0;
      }
    }

  }
  
}

.intro-banner {
  width: 100%;
  margin: 50px 0px;
}

#collection-accesories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  .summer-img {
    img {
      width: 650px;
      height: 610px;
    }
  }
 .collection-sections{
  display: flex;
  flex-direction: column;
  .collection-text {
    p {
      @include index_font;
      text-align: center;
    }
  }
  .collection {
    display: flex;
    .collection-item {
      @include card;
      img {
        @include collection_img;
      }
      p {
        text-align: center;
      }
      a {
        @include buttom;
        &:hover {
          background-color: rgb(1, 1, 124);
        }
      }

    }
  }
 }
}

#collection-swimwear {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  img {
    width: 550px;
    height: 750px;
  }

  .swimwear {
    .swimwear-subtitle {
      p {
        text-align: center;
        @include index_font;
        
      }
    }
    
    .swimwear-item {
      display: flex;
      .item {
        @include card;

        img {
          @include collection_img;
        }
        p {
          text-align: center;
        }
        a {
          @include buttom;
          &:hover {
              background-color: rgb(1, 1, 124);
           }
        }
      }
    }
  }
}

// Responsive Design //

@media all and (max-width:700px) {

  body {
    margin: 10px;
  }

nav {
  flex-direction: column;
  .nav-text {
    margin: 30px 0px;
    h1 {
      font-size: 3  0px;
    }
  }

  .nav-sections {
    .nav-items {
      img {
        width: 70px;
        height: 70px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

  .intro {
    img {
      display: none;
    }
  }


  #collection-accesories {
    flex-direction: column;
    margin: 0;
    .summer-img {
      img {
        width: 300px;
        height: 300px;
        margin: 50px 0;
      }
    }
    .collection-sections {
      .collection-text {
        p {
          font-size: 13px;
        }
      }
      .collection {
        flex-direction: column;
      }
      
    }
  }


  #collection-swimwear {
    flex-direction: column;
    img {
      width: 300px;
      height: 350px;
    }

    .swimwear {
      .swimwear-item {
        flex-direction: column;
        margin: 50px 0;
      }
    }
  }
}